accelerate
annotated-doc
anyio
audioread
bitsandbytes
build
certifi
cffi
charset-normalizer
click
colorama
decorator
exceptiongroup
filelock
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
iniconfig
Jinja2
joblib
lazy-loader
librosa
llvmlite
markdown-it-py
MarkupSafe
mdurl
mpmath
msgpack
networkx
numba
numpy
packaging
peft
pip
pip-tools
platformdirs
pluggy
pooch
psutil
pycparser
Pygments
pyproject_hooks
pytest
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
setuptools
shellingham
soundfile
soxr
sympy
threadpoolctl
tokenizers
tomli
torch
torchaudio
tqdm
transformers
typer
typing_extensions
urllib3
wheel